.main{
    border: 2px solid rgba(0, 0, 0, 0.685);
    width: 40%;
    height: 500px;
    margin: 0 auto;
    margin-top: 20px;

}
img{
    width: 500px;
    height: 300px;
    margin: 10px;
}
.footer{
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
}
.tech{
    margin: 10px;
    color: rgba(0, 0, 0, 0.671);
}
h1{
    font-size: 30px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.726);
}
.text1{
    color: rgba(0, 0, 0, 0.671);
}
.text2{
    color: black;
    margin-left: 10px;
}